input {
  width: 50%;
}

.row {
  display: flex;
}

.left {
  float: left;
  width: 200px;
  min-width: 100px;
}
.middle {
  float: left;
  width: 100%;
  min-width: 100px;
}
.right {
  float: left;
  width: 300px;
  min-width: 100px;
}

@media only screen and (max-width: 600px) {
  .row {
    overflow: scroll;
  }
}
